{% extends 'base.html' %}
{% load static %}


{%  block content %}
<header>

    <div class="header-content">


</div>
    </div>
</header>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="font-weight: bold">Matches</h2>
                <hr class="light">
            </div>
            <div class="col-lg-12">
                <!--Widget Inner -->
                <div class="rca-menu-scroll rca-left-border">
                    <ul class="rca-season-list">
                        {%  for match in matches %}
                        <li>
                            <a href="{% url 'match_details' match.id %}">
                                {{ match.team1.alias }} vs {{ match.team2.alias }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3">
                <!--Match Series-->
                <div class="rca-medium-widget rca-padding rca-live-season rca-top-border text-center">
                    <div class="rca-clear"></div>
                {%  if match_started%}
                    <div class="rca-padding">
                        <h3 class="rca-match-title">
                            <a href="#">
                                {{ current_inning.batting.alias }}: {{ current_inning.runs }}/{{ current_inning.wickets }} in {{ cur_over }}
                            </a>
                        </h3>
                        <h3 class="rca-match-title">
                            <a style="color:black;" href="#">
                                {{ current_inning.bowling.alias }}: {% if other_inning %}{{ other_inning.runs }}/{{ other_inning.wickets }} in {{ other_over }}{% else %}0/0 in 0.0{% endif %}
                            </a>
                        </h3>
                        {#              <p class="rca-match-info">#}
                        {#                <span>IND: 16/1 in 1.0</span>#}
                        {#                <span>CRR:4.1</span>#}
                        {#                <span>Req RR:10.1</span>#}
                        {#              </p>#}
                        <div class="rca-top-padding ">
                            <div class="rca-batsman striker text-center">
                                {% if striker %}
                                <span class="player">{{ striker.batsman }}*</span>
                                <span>{{ striker.runs }}({{ striker.balls }})</span>
                                {% else %}
                                <span class="player">Striker*</span>
                                <span>0(0)</span>
                                {% endif %}
                            </div>
                            <div class="rca-batsman">
                                {% if non_striker %}
                                <span class="player">{{ non_striker.batsman }}</span>
                                <span>{{ non_striker.runs }}({{ non_striker.balls }})</span>
                                {% else %}
                                <span class="player">Non Striker*</span>
                                <span>0(0)</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="rca-ball-detail">
                            <div class="rca-match-schedule">
                                {% ifequal current_over.super_over 'Yes' %}Super {% endifequal %}Over: {{ cur_over }}
                            </div>
{#                            <ul class="rca-ball-by">#}
{#                                <li class="b6">6</li>#}
{#                                <li class="">1wd</li>#}
{#                                <li class="w">w</li>#}
{#                                <li class="">1</li>#}
{#                                <li class="">2</li>#}
{#                                <li class="b6">4</li>#}
{#                            </ul>#}
                            <div class="rca-bowler-info">
                                {% if bowler %}
                                <span>{{ bowler.bowler }} </span><span class="rca-bolwing">{{ bowler.runs|add:bowler.extras }}/{{ bowler.wickets }} in {{ bowler_over }}</span>
                                {% else %}
                                <span>Bowler </span><span class="rca-bolwing">0/0 in 0.0</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <!--Match Schedule Info-->
                    <div class="rca-mini-widget rca-history-info">
                        <div class="rca-row">
                            <span class="rca-col rca-history-title">Match:</span>
                            <span class="rca-col text-center"> {{ current_match.match.team1.name }} <br> vs <br>{{ current_match.match.team2.name }}  </span>
                        </div>
                        <div class="rca-row">
                            <span class="rca-col rca-history-title">Date:</span>
                            <span class="rca-col"> {{ current_match.match.date }} </span>
                        </div>
                        <div class="rca-row">
                            <span class="rca-col rca-history-title">Toss:</span>
                            {% if current_match.match.toss_won %}
                            <span class="rca-col"> {{ current_match.match.toss_won }} won the toss and chose to {{ current_match.match.selected_to }} first</span>
                            {% endif %}
                            {% ifequal current_match.match.toss_won None%}
                            <span class="rca-col"> Match has not started </span>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-1 col-md-7 col-md-offset-2">
                <!--Match Series-->

                <div class="rca-medium-widget rca-top-border ">

                    <ul class="rca-tab-list">
                        <li class="rca-tab-link active" data-tab="tab-41" onclick="showTab(this);">SCORECARD</li>
                        <li class="rca-tab-link" data-tab="tab-42" onclick="showTab(this);">SQUAD</li>
                    </ul>
                    <div id="tab-41" class="rca-tab-content rca-padding active">
                        <ul class="rca-tab-list small">
                            <li class="rca-tab-link active" data-tab="tab-401" onclick="showTab(this);">{{ current_inning.batting.name }}</li>
                            <li class="rca-tab-link" data-tab="tab-402" onclick="showTab2(this);">{{ current_inning.bowling.name }}</li>
                        </ul>
                        {% if match_started %}
                        <div id="tab-401" class="rca-tab-content rca-padding active">
                            <div class="rca-batting-score rca-padding">

                                <strong><h3>{{ current_inning.batting.name }} Batting: {{ current_inning.runs }}/{{ current_inning.wickets }} in {{ cur_over }}</strong></h3>
                                <table class="table table-striped">
                                    <tr>
                                        <th style="padding-left:22px;">Batsmen</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Runs</th>
                                        <th class="text-center">Balls</th>
                                        <th class="text-center">4s</th>
                                        <th class="text-center">6s</th>
                                        <th class="text-center">SR</th>
                                    </tr>
                                    {%  for batsman in batting_lineup %}
                                    <tr>
                                        <td style="padding-left:22px;">{{ batsman.batsman }} </td>
                                        <td class="text-center">
                                            {% if batsman.wicket %}
                                                {% ifequal batsman.wicket.type.type 'Bold' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Caught' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                    <small><b>C.{{ batsman.wicket.player2 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Run Out' %}
                                                    <small><b>R.O.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Stumped' %}
                                                    <small><b>Stmp.{{ batsman.wicket.player2 }}</b></small><br>
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Hit Wicket' %}
                                                    <small><b>Ht.Wk.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                            {% else%}
                                                    {% ifequal batsman.retired 'Yes' %}
                                                        <small><b>Retired</b></small>
                                                        {% else %}
                                                            <small><b>Not Out</b></small>
                                                    {% endifequal %}

                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ batsman.runs }}</td>
                                        <td class="text-center">{{ batsman.balls }}</td>
                                        <td class="text-center">{{ batsman.fours }}</td>
                                        <td class="text-center">{{ batsman.sixes }}</td>
                                        {% ifequal balls 0 %}
                                            <td class="text-center">0</td>
                                        {% else %}
                                            <td class="text-center">{% widthratio batsman.runs batsman.balls 100 %}</td>
                                        {% endifequal %}

                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="rca-clear"></div>
                                <div class="rca-padding">
                                    <span>Fours: <strong>{{ tot_fours }}</strong></span>, <span>Sixes: <strong>{{ tot_sixes }}</strong></span>,
                                    <span>Extras: <strong>{{ current_inning.extras }}</strong></span>
                                </div>
                                <div class="rca-bowling-score rca-padding">
                                    <h3><strong>{{ current_inning.bowling }} Bowling:</strong></h3>
                                    <table class="table table-striped">
                                        <tr>
                                            <th style="padding-left:20px;">Bowler</th>
                                            <th class="text-center">O</th>
                                            <th class="text-center">R</th>
                                            <th class="text-center">W</th>
                                            <th class="text-center">Extras</th>
                                        </tr>
                                        {% for bowler in bowling_lineup %}
                                        <tr>
                                            <td style="padding-left:22px;">{{ bowler.bowler }}</td>
                                            <td class="text-center">{{ bowler.overs }}</td>
                                            <td class="text-center">{{ bowler.runs }}</td>
                                            <td class="text-center">{{ bowler.wickets }}</td>
                                            <td class="text-center">{{ bowler.extras }}</td>

                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div class="rca-clear"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if other_inning %}
                        <div id="tab-402" style="display:none;" class="rca-tab-content rca-padding active">
                            <div class="rca-batting-score rca-padding">
                                <h3><strong>{{ other_inning.batting }} Batting: {{ other_inning.runs }}/{{ other_inning.wickets }} in {{ other_over }}</strong></h3>
                                <table class="table table-striped">
                                    <tr>
                                        <th style="padding-left:22px;">Batsmen</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Runs</th>
                                        <th class="text-center">Balls</th>
                                        <th class="text-center">4s</th>
                                        <th class="text-center">6s</th>
                                        <th class="text-center">SR</th>
                                    </tr>
                                    {%  for batsman in other_batting_lineup %}
                                    <tr>
                                        <td style="padding-left:22px;">{{ batsman.batsman }} </td>
                                        <td class="text-center">
                                            {% if batsman.wicket %}
                                                {% ifequal batsman.wicket.type.type 'Bold' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Caught' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                    <small><b>C.{{ batsman.wicket.player2 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Run Out' %}
                                                    <small><b>R.O.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Stumped' %}
                                                    <small><b>Stmp.{{ batsman.wicket.player2 }}</b></small><br>
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Hit Wicket' %}
                                                    <small><b>Ht.Wk.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% else%}
                                                    {% ifequal batsman.retired 'Yes' %}
                                                        <small><b>Retired</b></small>
                                                        {% else %}
                                                            <small><b>Not Out</b></small>
                                                    {% endifequal %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ batsman.runs }}</td>
                                        <td class="text-center">{{ batsman.balls }}</td>
                                        <td class="text-center">{{ batsman.fours }}</td>
                                        <td class="text-center">{{ batsman.sixes }}</td>
                                        {% ifequal balls 0 %}
                                            <td class="text-center">0</td>
                                        {% else %}
                                            <td class="text-center">{% widthratio batsman.runs batsman.balls 100 %}</td>
                                        {% endifequal %}

                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="rca-clear"></div>
                                <div class="rca-padding">
                                    <span>Fours: <strong>{{ other_tot_fours }}</strong></span>, <span>Sixes: <strong>{{ other_tot_sixes }}</strong></span>,
                                    <span>Extras: <strong>{{ current_inning.extras }}</strong></span>
                                </div>
                                <div class="rca-bowling-score rca-padding">
                                    <h3><strong>{{ other_inning.bowling }} Bowling:</strong></h3>
                                    <table class="table table-striped">
                                        <tr>
                                            <th style="padding-left:20px;">Bowler</th>
                                            <th class="text-center">O</th>
                                            <th class="text-center">R</th>
                                            <th class="text-center">W</th>
                                            <th class="text-center">Extras</th>
                                        </tr>
                                        {% for bowler in other_bowling_lineup %}
                                        <tr>
                                            <td style="padding-left:22px;">{{ bowler.bowler }}</td>
                                            <td class="text-center">{{ bowler.overs }}</td>
                                            <td class="text-center">{{ bowler.runs }}</td>
                                            <td class="text-center">{{ bowler.wickets }}</td>
                                            <td class="text-center">{{ bowler.extras }}</td>

                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div class="rca-clear"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    <div id="tab-42" class="rca-tab-content rca-padding">
                        <ul class="rca-tab-list small">
                            <li class="rca-tab-link active" data-tab="tab-411" onclick="showTab(this);">{{ current_match.inning.batting.name }}
                            </li>
                            <li class="rca-tab-link" data-tab="tab-412" onclick="showTab(this);">{{ current_match.inning.bowling.name }}</li>
                        </ul>
                        <div id="tab-411" class="rca-tab-content rca-padding active">
                            <div class="row">
                                {% for player in team1 %}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="box1 box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">{{ player.player.name }}</h3>
                                            <h5 class="widget-user-desc">{{ player.player.category }}</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle" src="{{ MEDIA_URL }}{{ player.player.pic.url }}"
                                                 alt="User Avatar" style="width:90px;height:90px">
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Wck</h5>
                                                        <span class="description-text">{{ player.wickets }}</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Runs</h5>
                                                        <span class="description-text">{{ player.runs }}</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">SR</h5>
                                                        {% ifnotequal player.balls 0 %}
                                                        <span class="description-text">{% widthratio player.runs player.balls 100 %}</span>
                                                        {% else %}
                                                            <span class="description-text">0</span>
                                                        {% endifnotequal %}
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                                    </div>
                                {% endfor %}

                                    <!-- /.widget-user -->
                                </div>


                            </div>
                        <div id="tab-412" class="rca-tab-content rca-padding active">
                            <!-- <div class="rca-padding">
                              <div class="rca-switch filled">
                                <span class="active">Team X</span><span>Team Y</span>
                              </div>
                            </div> -->
                            <div class="row">
                                {% for player in team2 %}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="box1 box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">{{ player.player.name }}</h3>
                                            <h5 class="widget-user-desc">{{ player.player.category }}</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle" src="{{ MEDIA_URL }}{{ player.player.pic.url }}"
                                                 alt="User Avatar" style="width:90px;height:90px">
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Wck</h5>
                                                        <span class="description-text">0</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Runs</h5>
                                                        <span class="description-text">0</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">SR</h5>
                                                        <span class="description-text">0</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                                    </div>
                                {% endfor %}


                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<section class="points_table">
    <div class="container text-center">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><strong>KPL 2017-Points Table</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!--Points Table-->
            <div class="rca-mini-widget rca-top-border rca-stats">
                <div id="tab-41" class="rca-tab-content rca-padding active">
                    <div class="rca-bowling-score rca-padding rca-no-border">
                        <!-- <h3>IPL 2016 - Group A Points Table</h3> -->
                        <div class="row ">
                            <div class="rca-header rca-table" style="background-color:#a09f9f;color:white;">
                                <div class="rca-col small">
                                    Pos
                                </div>
                                <div class="rca-col small">
                                    T<span class="rca-hide-mobile">eam
                                </div>
                                <div class="rca-col small">
                                    P<span class="rca-hide-mobile">layed</span>
                                </div>
                                <div class="rca-col small">
                                    W<span class="rca-hide-mobile">on</span>
                                </div>
                                <div class="rca-col small">
                                    L<span class="rca-hide-mobile">ost</span>
                                </div>
                                <div class="rca-col small">
                                    Pts
                                </div>
                                <div class="rca-col small rca-hide-mobile">
                                    Net RR
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            {% for team in points_table %}
                            <div class="rca-table">
                                <div class="rca-col small">
                                    {{ forloop.counter }}
                                </div>
                                <div class="rca-col small">
                                    {{ team.team.name }}
                                </div>
                                <div class="rca-col small">
                                   {{ team.played }}
                                </div>
                                <div class="rca-col small">
                                    {{ team.won }}
                                </div>
                                <div class="rca-col small">
                                    {{ team.lost }}
                                </div>
                                <div class="rca-col small">
                                    {{ team.points }}
                                </div>
                                <div class="rca-col small ">
                                    {{ team.nrr }}
                                </div>


                            </div>
                            {% endfor %}
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="rca-clear"></div>
    </div>
        </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="rca-clear"></div>
        <h2 class="rca-stats-title"><strong>Tournament Stats</strong></h2>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-4 ">
                <div class="rca-micro-widget rca-stats">
                    <div class="rca-match-start">
                        <h3>Tournament Sixes</h3>
                        <div class="rca-padding">
                            <h2>{{ tournament_stats.sixes }}</h2>
                        </div>
                    </div>
                </div>
                <div class="rca-micro-widget rca-stats">
                    <div class="rca-match-start">
                        <h3>Tournament Fours</h3>
                        <div class="rca-padding">
                            <h2>{{ tournament_stats.fours }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 ">
                <!--Season Stats-->
                <div class="rca-mini-widget rca-top-border rca-padding rca-stats">
                    <div class="rca-clear"></div>
                    <h2>
                        <strong>Orange Cap</strong>
                    </h2>
                    <div class="rca-padding">
                        {%  for player in orange_cap %}
                            {% ifequal forloop.counter 1 %}
                        <div class="rca-match-start">
                            <h3 class=" top-score">{{ player }}</h3>
                            <div class="rca-padding">
                                <h1><strong>{{ player.runs }}</strong></h1>
                                <p class="rca-center">
                                    {{ player.fours }}x4 {{ player.sixes }}x6
                                </p>
                            </div>
                        </div>
                                {% else %}
                        <div class="rca-row rca-name-tag">
                            <div class="rca-table">
                                <div class="rca-col rca-name-info">
                                    <span class="rca-tag-info">{{ forloop.counter }}.</span> {{ player }}
                                </div>
                                <div class="rca-col rca-tag-info">
                                    {{ player.fours }}x4 {{ player.sixes }}x6
                                </div>
                                <div class="rca-col rca-name-score">
                                    {{ player.runs }}
                                </div>
                            </div>
                        </div>
                            {% endifequal %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <!--Season Stats-->
                <div class="rca-mini-widget rca-top-border rca-padding rca-stats">
                    <div class="rca-clear"></div>
                    <h2>
                        <strong>Purple Cap</strong>
                    </h2>
                    <div class="rca-padding">
                        {%  for player in purple_cap %}
                            {% ifequal forloop.counter 1 %}
                        <div class="rca-match-start">
                            <h3 class="top-bowl">{{ player }}</h3>
                            <div class="rca-padding">
                                <h1><strong>{{ player.wickets }}</strong></h1>
                            </div>
                        </div>
                                {% else %}
                        <div class="rca-row rca-name-tag">
                            <div class="rca-table">
                                <div class="rca-col rca-name-info">
                                    <span class="rca-tag-info">{{ forloop.counter }}.</span> {{ player }}
                                </div>
                                <div class="rca-col rca-name-score">
                                    {{ player.wickets }}
                                </div>
                            </div>
                                </div>
                            {% endifequal %}
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <!--Season Stats-->
                <div class="rca-mini-widget rca-top-border rca-padding rca-stats">
                    <div class="rca-clear"></div>
                    <h2>
                        <strong>Most Sixes</strong>
                    </h2>

                    <div class="rca-padding">
                        {%  for player in most_sixes %}
                            {% ifequal forloop.counter 1 %}
                        <div class="rca-match-start">
                            <h3 class=" top-six">{{ player }}</h3>
                            <div class="rca-padding">
                                <h1><strong>{{ player.sixes }}</strong></h1>
                                <p class="rca-center">

                                </p>
                            </div>
                        </div>
                        {% else %}
                        <div class="rca-row rca-name-tag">
                            <div class="rca-table">
                                <div class="rca-col rca-name-info">
                                    <span class="rca-tag-info">{{ forloop.counter }}.</span> {{ player }}
                                </div>
                                <div class="rca-col rca-tag-info">

                                </div>
                                <div class="rca-col rca-name-score">
                                    {{ player.sixes }}
                                </div>
                            </div>

                        </div>
                        {% endifequal %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <!--Season Stats-->
                <div class="rca-mini-widget rca-top-border rca-padding rca-stats">
                    <div class="rca-clear"></div>
                    <h2>
                        <strong>Most Fours</strong>
                    </h2>
                    <div class="rca-padding">
                        {%  for player in most_fours %}
                            {% ifequal forloop.counter 1 %}
                        <div class="rca-match-start">
                            <h3 class=" top-six">{{ player }}</h3>
                            <div class="rca-padding">
                                <h1><strong>{{ player.fours }}</strong></h1>
                                <p class="rca-center">

                                </p>
                            </div>
                        </div>
                        {% else %}
                        <div class="rca-row rca-name-tag">
                            <div class="rca-table">
                                <div class="rca-col rca-name-info">
                                    <span class="rca-tag-info">{{ forloop.counter }}.</span> {{ player }}
                                </div>
                                <div class="rca-col rca-tag-info">

                                </div>
                                <div class="rca-col rca-name-score">
                                    {{ player.fours }}
                                </div>
                            </div>
                                </div>
                            {% endifequal %}
                    {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <!--Season Stats-->
                <div class="rca-mini-widget rca-top-border rca-padding rca-stats">
                    <div class="rca-clear"></div>
                    <h2>
                        <strong>Most Catches</strong>
                    </h2>
                    <div class="rca-padding">
                        {%  for player in most_catches %}
                            {% ifequal forloop.counter 1 %}
                        <div class="rca-match-start">
                            <h3 class=" top-six">{{ player }}</h3>
                            <div class="rca-padding">
                                <h1><strong>{{ player.catches }}</strong></h1>
                                <p class="rca-center">

                                </p>
                            </div>
                        </div>
                                {% else %}
                        <div class="rca-row rca-name-tag">
                            <div class="rca-table">
                                <div class="rca-col rca-name-info">
                                    <span class="rca-tag-info">{{ forloop.counter }}.</span> {{ player }}
                                </div>
                                <div class="rca-col rca-tag-info">

                                </div>
                                <div class="rca-col rca-name-score">
                                    {{ player.catches }}
                                </div>
                            </div>
                            {% endifequal %}
                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
    <script>
    var target_date = new Date().getTime() + ({{ time }}*1000); // set the countdown date
var days, hours, minutes, seconds; // variables for time units

var countdown = document.getElementById("tiles"); // get tag element

getCountdown();

setInterval(function () { getCountdown(); }, 1000);

function getCountdown(){

	// find the amount of "seconds" between now and target
	var current_date = new Date().getTime();
	var seconds_left = (target_date - current_date) / 1000;

	days = pad( parseInt(seconds_left / 86400) );
	seconds_left = seconds_left % 86400;

	hours = pad( parseInt(seconds_left / 3600) );
	seconds_left = seconds_left % 3600;

	minutes = pad( parseInt(seconds_left / 60) );
	seconds = pad( parseInt( seconds_left % 60 ) );

	// format countdown string + set tag value
	countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";
}

function pad(n) {
	return (n < 10 ? '0' : '') + n;
}
    </script>
{% endblock %}