{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<section id="register">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <br>
            <br>
            <h3><b>Match Details</b></h3>
        </div>


        <div class="col-xs-offset-2 col-xs-8">
                <!--Match Series-->

                <div class="rca-medium-widget rca-top-border ">

                    <ul class="rca-tab-list">
                        <li class="rca-tab-link active" data-tab="tab-41" onclick="showTab(this);">SCORECARD</li>
                    </ul>
                    <div id="tab-41" class="rca-tab-content rca-padding active">
                        <ul class="rca-tab-list small">
                            <li class="rca-tab-link active" data-tab="tab-401" onclick="showTab(this);">{{ current_inning.batting.name }}</li>
                            <li class="rca-tab-link" data-tab="tab-402" onclick="showTab2(this);">{{ current_inning.bowling.name }}</li>
                        </ul>
                        {% if match_started %}
                        <div id="tab-401" class="rca-tab-content rca-padding active">
                            <div class="rca-batting-score rca-padding">

                                <strong><h3>{{ current_inning.batting.name }} Batting: {{ current_inning.runs }}/{{ current_inning.wickets }} in {{ cur_over }}</strong></h3>
                                <table class="table table-striped">
                                    <tr>
                                        <th style="padding-left:22px;">Batsmen</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Runs</th>
                                        <th class="text-center">Balls</th>
                                        <th class="text-center">4s</th>
                                        <th class="text-center">6s</th>
                                        <th class="text-center">SR</th>
                                    </tr>
                                    {%  for batsman in batting_lineup %}
                                    <tr>
                                        <td style="padding-left:22px;">{{ batsman.batsman }} </td>
                                        <td class="text-center">
                                            {% if batsman.wicket %}
                                                {% ifequal batsman.wicket.type.type 'Bold' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Caught' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                    <small><b>C.{{ batsman.wicket.player2 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Run Out' %}
                                                    <small><b>R.O.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Stumped' %}
                                                    <small><b>Stmp.{{ batsman.wicket.player2 }}</b></small><br>
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Hit Wicket' %}
                                                    <small><b>Ht.Wk.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                            {% else%}
                                                    {% ifequal batsman.retired 'Yes' %}
                                                        <small><b>Retired</b></small>
                                                        {% else %}
                                                            <small><b>Not Out</b></small>
                                                    {% endifequal %}

                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ batsman.runs }}</td>
                                        <td class="text-center">{{ batsman.balls }}</td>
                                        <td class="text-center">{{ batsman.fours }}</td>
                                        <td class="text-center">{{ batsman.sixes }}</td>
                                        {% ifequal balls 0 %}
                                            <td class="text-center">0</td>
                                        {% else %}
                                            <td class="text-center">{% widthratio batsman.runs batsman.balls 100 %}</td>
                                        {% endifequal %}

                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="rca-clear"></div>
                                <div class="rca-padding">
                                    <span>Fours: <strong>{{ tot_fours }}</strong></span>, <span>Sixes: <strong>{{ tot_sixes }}</strong></span>,
                                    <span>Extras: <strong>{{ current_inning.extras }}</strong></span>
                                </div>
                                <div class="rca-bowling-score rca-padding">
                                    <h3><strong>{{ current_inning.bowling }} Bowling:</strong></h3>
                                    <table class="table table-striped">
                                        <tr>
                                            <th style="padding-left:20px;">Bowler</th>
                                            <th class="text-center">O</th>
                                            <th class="text-center">R</th>
                                            <th class="text-center">W</th>
                                            <th class="text-center">Extras</th>
                                        </tr>
                                        {% for bowler in bowling_lineup %}
                                        <tr>
                                            <td style="padding-left:22px;">{{ bowler.bowler }}</td>
                                            <td class="text-center">{{ bowler.overs }}</td>
                                            <td class="text-center">{{ bowler.runs }}</td>
                                            <td class="text-center">{{ bowler.wickets }}</td>
                                            <td class="text-center">{{ bowler.extras }}</td>

                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div class="rca-clear"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if other_inning %}
                        <div id="tab-402" style="display:none;" class="rca-tab-content rca-padding active">
                            <div class="rca-batting-score rca-padding">
                                <h3><strong>{{ other_inning.batting }} Batting: {{ other_inning.runs }}/{{ other_inning.wickets }} in {{ other_over }}</strong></h3>
                                <table class="table table-striped">
                                    <tr>
                                        <th style="padding-left:22px;">Batsmen</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Runs</th>
                                        <th class="text-center">Balls</th>
                                        <th class="text-center">4s</th>
                                        <th class="text-center">6s</th>
                                        <th class="text-center">SR</th>
                                    </tr>
                                    {%  for batsman in other_batting_lineup %}
                                    <tr>
                                        <td style="padding-left:22px;">{{ batsman.batsman }} </td>
                                        <td class="text-center">
                                            {% if batsman.wicket %}
                                                {% ifequal batsman.wicket.type.type 'Bold' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Caught' %}
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                    <small><b>C.{{ batsman.wicket.player2 }}</b></small>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Run Out' %}
                                                    <small><b>R.O.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Stumped' %}
                                                    <small><b>Stmp.{{ batsman.wicket.player2 }}</b></small><br>
                                                    <small><b>B.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% ifequal batsman.wicket.type.type 'Hit Wicket' %}
                                                    <small><b>Ht.Wk.{{ batsman.wicket.player1 }}</b></small><br>
                                                {% endifequal %}
                                                {% else%}
                                                    {% ifequal batsman.retired 'Yes' %}
                                                        <small><b>Retired</b></small>
                                                        {% else %}
                                                            <small><b>Not Out</b></small>
                                                    {% endifequal %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ batsman.runs }}</td>
                                        <td class="text-center">{{ batsman.balls }}</td>
                                        <td class="text-center">{{ batsman.fours }}</td>
                                        <td class="text-center">{{ batsman.sixes }}</td>
                                        {% ifequal balls 0 %}
                                            <td class="text-center">0</td>
                                        {% else %}
                                            <td class="text-center">{% widthratio batsman.runs batsman.balls 100 %}</td>
                                        {% endifequal %}

                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="rca-clear"></div>
                                <div class="rca-padding">
                                    <span>Fours: <strong>{{ other_tot_fours }}</strong></span>, <span>Sixes: <strong>{{ other_tot_sixes }}</strong></span>,
                                    <span>Extras: <strong>{{ current_inning.extras }}</strong></span>
                                </div>
                                <div class="rca-bowling-score rca-padding">
                                    <h3><strong>{{ other_inning.bowling }} Bowling:</strong></h3>
                                    <table class="table table-striped">
                                        <tr>
                                            <th style="padding-left:20px;">Bowler</th>
                                            <th class="text-center">O</th>
                                            <th class="text-center">R</th>
                                            <th class="text-center">W</th>
                                            <th class="text-center">Extras</th>
                                        </tr>
                                        {% for bowler in other_bowling_lineup %}
                                        <tr>
                                            <td style="padding-left:22px;">{{ bowler.bowler }}</td>
                                            <td class="text-center">{{ bowler.overs }}</td>
                                            <td class="text-center">{{ bowler.runs }}</td>
                                            <td class="text-center">{{ bowler.wickets }}</td>
                                            <td class="text-center">{{ bowler.extras }}</td>

                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div class="rca-clear"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    <div id="tab-42" class="rca-tab-content rca-padding">
                        <ul class="rca-tab-list small">
                            <li class="rca-tab-link active" data-tab="tab-411" onclick="showTab(this);">{{ current_match.inning.batting.name }}
                            </li>
                            <li class="rca-tab-link" data-tab="tab-412" onclick="showTab(this);">{{ current_match.inning.bowling.name }}</li>
                        </ul>
                        <div id="tab-411" class="rca-tab-content rca-padding active">
                            <div class="row">
                                {% for player in team1 %}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="box1 box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">{{ player.player.name }}</h3>
                                            <h5 class="widget-user-desc">{{ player.player.category }}</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle" src="{{ MEDIA_URL }}{{ player.player.pic.url }}"
                                                 alt="User Avatar" style="width:90px;height:90px">
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Wck</h5>
                                                        <span class="description-text">{{ player.wickets }}</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Runs</h5>
                                                        <span class="description-text">{{ player.runs }}</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">SR</h5>
                                                        {% ifnotequal player.balls 0 %}
                                                        <span class="description-text">{% widthratio player.runs player.balls 100 %}</span>
                                                        {% else %}
                                                            <span class="description-text">0</span>
                                                        {% endifnotequal %}
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                                    </div>
                                {% endfor %}

                                    <!-- /.widget-user -->
                                </div>


                            </div>
                        <div id="tab-412" class="rca-tab-content rca-padding active">
                            <!-- <div class="rca-padding">
                              <div class="rca-switch filled">
                                <span class="active">Team X</span><span>Team Y</span>
                              </div>
                            </div> -->
                            <div class="row">
                                {% for player in team2 %}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="box1 box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">{{ player.player.name }}</h3>
                                            <h5 class="widget-user-desc">{{ player.player.category }}</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle" src="{{ MEDIA_URL }}{{ player.player.pic.url }}"
                                                 alt="User Avatar" style="width:90px;height:90px">
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Wck</h5>
                                                        <span class="description-text">0</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">Runs</h5>
                                                        <span class="description-text">0</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">SR</h5>
                                                        <span class="description-text">0</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                                    </div>
                                {% endfor %}


                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</section>
{% endblock %}