{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<section id="register">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <br>
            <br>
            <h3><b>Player Registration</b></h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-offset-3 col-md-6 col-xs-10 col-xs-offset-1">
             <p class="text-danger text-center">{{ error_message }}</p>
            <form id="register_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
             {{ player_form|crispy }}

        </form>

        <button type="submit" form="register_form" value="Submit" class="btn btn-primary pull-right">Register</button>
        </div>

    </div>

</section>
{% endblock %}