{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="rules">
    <div class="row">
        <br>
        <br>
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3><b>Gameplay Rules</b></h3>
            <br>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 text-center">
            <table border=0 class="rounded-list">
                <tr>
                    <td>
                        <ol>
                            <li><p>Each match will be of 7 overs out of which 1 over will be exclusively for Female Player </p></li>
                            <li><p>Win fetches 2 points </p></li>
                            <li><p>No balls/wides/any other illegal deliveries to be penalised with 2 runs</p></li>
                            <li><p>A Free hit will be given for a no-ball </p></li>
                            <li><p>There is super over in 1-4 overs, which is taken by batting team and in this over each run scored by batsman will be counted as double. Runs for wide and no-ball will remain unchanged</p></li>
                            <li><p>Maximum 2 bowlers can bowl 2 overs each </p></li>
                            <li><p> If any batsman scores 30 runs in an inning then he has to retire and can come again for batting after all the batsman of his team </p></li>
                            <li><p>Batsman can not be retire in super over if he reaches 30 runs </p></li>
                            <li><p>Opponent team(if present in full strength) will be declared winners if the other team does not assemble in full(7 male + 1 female players) strength within 30 minutes of the given time </p></li>
                            <li><p>In case of a tie, super over will be played. In case of another tie, scores of the female players will be considered </p></li>
                            <li><p>Top 4 teams qualify for play-off stage; ties will be resolved using NRR (net run rate) </p></li>

                        </ol>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3><b>Rules for Female Players</b></h3>
            <br>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 text-center">
            <table border=0 class="rounded-list">
                <tr>
                    <td>
                        <ol>
                            <li><p>Only one over (full over) to be bowled and faced; (5th Over) </p></li>
                            <li><p>Bowling will be from half length of the pitch and using the `throw’ action </p></li>
                            <li><p>Only 4 Male fielders will be on ground during this over, however boundaries will remain unchanged</p></li>
                            <li><p>Extras for female players will cost 1 run only (instead of 2 runs) </p></li>
                            <li><p>Male teammate runs from the other end(full pitch)</p></li>
                            <li><p>In case the player gets out, team loses 2 runs and the over continues. Incase the match gets over before 5th over, the female player still need to bowl as it may lead to negative runs also</p></li>
                            <li><p>Female player has to field all through the inning </p></li>
                        </ol>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3><b>Franchise and Bidding rules</b></h3>
            <br>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 text-center">
            <table border=0 class="rounded-list">
                <tr>
                    <td>
                        <ol>
                            <li><p>Manager has to register on the webiste and pay 3000 INR to buy a team</p></li>
                            <li><p>Maximum 8 teams, to be decided on first come basis </p></li>
                            <li><p>All bidding happens with virtual money (players do not get any money)</p></li>
                            <li><p>Manager can play by as part of the team. An amount of 75% of highest bidden player in his team will be deducted from the virtual money during the auction (only for male manager)</p></li>
                            <li><p>NO BIDDING FOR FEMALE PLAYERS</p></li>
                        </ol>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</section>

{% endblock %}